/*-------- General webpage layout ----------*/
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

html{
    scroll-behavior: smooth;
}

body{
    margin: 0 auto;
    padding: 1%;
}

.header-container{
    max-width: 1600px;
    margin: 0 auto;
    padding: 1%;
    transition: all 500ms;
    height: 216px;
}

/*---------- Header secion --------------*/

.header{
    border: 2px solid;
    border-color: black;
    max-width: 164px;
    max-height: 164px;
    transition: all 500ms;
}

.header:hover{
    background-color: black;
}

.heading{
    font-size: 100px;
    font-family: 'Roboto';
    position: relative;
    bottom: 45px;
    left: 35px;
    transition: all 500ms;
}

.heading:hover{
    color: white;
}

.banner-1 {
    position: relative;
    left: 190px;
    bottom: 168px;
    width: 1050px;
    height: 168px;
}

/*-------- Navbar dropdown content ---------*/

.nav-box{
    position: relative;
    bottom: 160px;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1240px;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: darkgrey;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
  }

  /* ---------------- Search Bar Styling --------------- */

  .navbar input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}

/* ---------------- Styling for grid contaier ------------- */

.grid-container{
    max-width: 1600px;
    margin: 0 auto;
    transition: all 500ms;
    padding: 1%;
}

/* grid general layout */
.grid{
    display: grid;
    grid-template-columns: auto auto auto;
    max-width: 1240px;
    width: auto;
    height: auto;
    justify-content: space-evenly;
    align-content: center;
    grid-gap: 16px;
}
/* grid items placed with corresponding position */
.grid-items1{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}
.open{
    width:1240px;
}


.grid-items4{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}
.woman{
    width: 400px;
    height: 500px;
}


.grid-items5{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
.men{
    width: 400px;
    height: 500px;
}


.grid-items6{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}
.kids{
    width: 400px;
    height: 500px;
}


.grid-items7{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-column-end: 5;
}
.tp{
    width: 1240px;
}
